<!DOCTYPE html>
<html>
<head>
  <title>Borderlands Armory</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<p>Copyright &copy; 2012 by Lifted Studios.  All Rights Reserved.  "Borderlands" is a registered trademark of Gearbox Software, LLC.</p>

</body>
</html>
